<div class="post">
    <div class="header">
        <h1>Post title</h1>
        <button routerLink="/" class="btn btn-link">Main page</button>
    </div>

    <div class="info">
        <strong>Author</strong>
        <small>24.05.2023</small>
    </div>

    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit temporibus iusto unde ipsam, consectetur minima, voluptatem libero natus id nam nobis doloribus magni accusantium velit. Velit placeat vel modi quidem repellat aliquid soluta libero, porro officia repudiandae sequi fuga temporibus beatae repellendus dolor tempore a ut cumque molestias id odit?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit temporibus iusto unde ipsam, consectetur minima, voluptatem libero natus id nam nobis doloribus magni accusantium velit. Velit placeat vel modi quidem repellat aliquid soluta libero, porro officia repudiandae sequi fuga temporibus beatae repellendus dolor tempore a ut cumque molestias id odit?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit temporibus iusto unde ipsam, consectetur minima, voluptatem libero natus id nam nobis doloribus magni accusantium velit. Velit placeat vel modi quidem repellat aliquid soluta libero, porro officia repudiandae sequi fuga temporibus beatae repellendus dolor tempore a ut cumque molestias id odit?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit temporibus iusto unde ipsam, consectetur minima, voluptatem libero natus id nam nobis doloribus magni accusantium velit. Velit placeat vel modi quidem repellat aliquid soluta libero, porro officia repudiandae sequi fuga temporibus beatae repellendus dolor tempore a ut cumque molestias id odit?</p>
    </div>
</div>
