<div>
    <nav class="navbar bg-primary">
        <h1>
            <a routerLink="/">Angular Adming</a>
        </h1>

        <ul *ngIf="auth.isAuthenticated()">
            <li>
                <a [routerLinkActive]="'active'" [routerLink]="['/admin', 'dashboard']">Main</a>
            </li>

            <li>
                <a [routerLinkActive]="'active'" [routerLink]="['/admin', 'create']">Create Post</a>
            </li>
            <li>
                <a href="#" (click)="logout($event)">Logout</a>
            </li>

        </ul>
    </nav>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>
